:root {
    --theme:#121212;
    --text:white;
    --card-clr:#181818;
    --bottom-card: #2E2E2E;
    --drop-down:#444343ec;
    --date-time:#ffe5b4;
    --bottom-hover:#242424;
    --card-button: #FFFFFF;

  }